eurostat_downloader/resources.qrc export-ignore
eurostat_downloader/resources_rc.py export-ignore
eurostat_downloader/ui/ export-ignore
test/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore
ruff.toml export-ignore
mypy.ini export-ignore
AGENTS.md export-ignore
symbology-style.db export-ignore
eurostat_downloader/assets/eurostat_cache/ export-ignore
eurostat_downloader/assets/*_use_the_plugin*.png export-ignore
README.md export-ignore
